
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    border-radius: 10px;
    overflow: hidden;
}

.animation-panel, .input-panel {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.typing-animation {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 18px;
    text-transform: uppercase;
    font-weight: thin;
   text-align: center;
}

.cursor {
    animation: blink 1s infinite;
    font-weight: bold;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.img {
    width: 600px;
    height: auto;
    margin-bottom: 20px;
}


.password-container {
    position: relative;
    width: 80%;
    margin-bottom: 20px;
    background-color: transparent;
}

input[type="password"] {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border: 2px solid #617DD6;
    border-radius: 5px;
    background-color: transparent;
    color: #ffffff;
    transition: border-color 0.3s ease;
    outline: none;
    text-align: center;
}

input[type="password"]:focus {
    border-color: #00ffcc;
}


button {
    width: 80%;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    margin-left: 7%;
    background-color: #8AC14A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4682b4;
}

.checklist {
    width: 80%;
    margin-top: 20px;
    text-align: left;
}

.check {
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
}

.check.valid {
    color: #fff;
}

.success-message {
    font-size: 22px;
    color: #fff;
    margin-top: 20px;
}
