body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: flex-start;
}

.imagem-container {
    margin-right: 20px;
}

.imagem-container img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.calculadora {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #42A94F;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #64c970;
}

h1 {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.img-main {
    width: 400px;
}