body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
.img-main {
    width: 300px;
    margin: -20px auto;
}

h2 {
    margin-bottom: 20px;
}

input, select {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #84D1DA;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #FCB856;
}

h1 {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
