/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #666666;
}

.fit-metrica-image {
    width: 100%;
    border-radius: 5px;
    margin-bottom: -20px;
}

.input-container {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    margin-left: 7%;

}

input {
    width: 80%;
    padding: 8px;
    margin-left: 7%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #9DD1C7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #70dac5;
}

.resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}
